@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');


:root {
  --layout-mobile-width: 375px;
  --layout-desktop-width: 1440px;

  --color-primary-400: hsl(180, 29%, 50%);

  --color-neutral-50: hsl(180, 52%, 96%);
  --color-neutral-400: hsl(180, 8%, 52%);
  --color-neutral-900: hsl(180, 14%, 20%);

  --font-size-body: 15px;

  --font-family-heading: 'League Spartan', sans-serif;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  font-family: var(--font-family-heading);
  --logo-size: 80px;
  font-size: 18px;
}

body{
  background: var(--color-neutral-50);
}

header{
  width: 100%;
  height: 100px;
}

.jobsWrapper{
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.jobCard{
  position: relative;
  background: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  border-left: 5px solid var(--color-primary-400);

  padding-top: calc(var(--logo-size) / 2) ;

  hr{
    margin: 20px 0px;
  }

  header{
    display: flex;
    align-items: center;
    gap: 20px;
    
    div{
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }

  .position{
    font-weight: bold;
    margin-bottom: 15px;
  }

  strong{
    color: var(--color-primary-400)
  }
  
  .newTag, .featuredTag{
    border-radius: 20px;
    background: black;
    color: white;
    padding: 5px 10px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  
  .newTag{
    background: var(--color-primary-400);
  }
  
  .details{
    color: var(--color-neutral-400);
    display: flex;
    gap: 20px;
    span{
      position: relative;
    }

    span:first-child:before{
      display: none;
    }

    span:before{
      position: absolute;
      content: "";
      width: 5px;
      aspect-ratio: 1 / 1;
      background: var(--color-neutral-400);
      border-radius: 50%;
      top: 50%;
      left: -10px;
      transform: translate(0%, -50%);
    }
  }
  
  .tags{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    span{
      background: var(--color-neutral-50);
      color: var(--color-primary-400);
      padding: 10px 15px;
      height: 18px;
      font-weight: bold;
      border-radius: 5px;
    }
  }

  .logo{
    position: absolute;
    top: calc((var(--logo-size) / 2) * -1);
    width: var(--logo-size);
    left: calc(var(--logo-size) / 2);
  }
}


@media only screen and (min-width: 800px){
  .jobCard{
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    align-items: center;
    .logo{
      position: static;
    }

    hr{
      display: none;
    }
  }
}