@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');


:root {
  --layout-mobile-width: 375px;
  --layout-desktop-width: 1440px;

  --color-primary-400: hsl(180, 29%, 50%);

  --color-neutral-50: hsl(180, 52%, 96%);
  --color-neutral-400: hsl(180, 8%, 52%);
  --color-neutral-900: hsl(180, 14%, 20%);

  --font-size-body: 15px;

  --font-family-heading: 'League Spartan', sans-serif;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}